@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h2>This application is designed to track patients through a facility.</h2>


<p>
    There are several sets of hospital employees that will use the Find Waldo Patient Management System (FWPMS). They include admission
    staff (receptionists), nurses, doctors, providers, billing and financial personnel, move staff, dispatch staff, and other
    more general staff members. This collection of personnel may differ in age (18 and up), education, and technical ability.
    The Find Waldo Patient Management System is designed to be intuitive to assure that hospital facility personnel of all ages,
    education, and technical ability can successfully use it for patient management. However, it is expected that these
    staff members be properly trained on the system prior to use.
</p>
